{
  "name": "constructora-2",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/sass/main.scss",
      "imports": [
        "assets/sass/libs/_vars.scss",
        "assets/sass/libs/_functions.scss",
        "assets/sass/libs/_mixins.scss",
        "assets/sass/libs/_skel.scss",
        "assets/sass/base/_page.scss",
        "assets/sass/base/_typography.scss",
        "assets/sass/components/_box.scss",
        "assets/sass/components/_button.scss",
        "assets/sass/components/_form.scss",
        "assets/sass/components/_icon.scss",
        "assets/sass/components/_image.scss",
        "assets/sass/components/_list.scss",
        "assets/sass/components/_section.scss",
        "assets/sass/components/_table.scss",
        "assets/sass/components/_pagination.scss",
        "assets/sass/layout/_wrapper.scss",
        "assets/sass/layout/_intro.scss",
        "assets/sass/layout/_header.scss",
        "assets/sass/layout/_nav.scss",
        "assets/sass/layout/_main.scss",
        "assets/sass/layout/_footer.scss",
        "assets/sass/layout/_navPanel.scss"
      ]
    },
    {
      "path": "assets/sass/noscript.scss",
      "imports": [
        "assets/sass/libs/_vars.scss",
        "assets/sass/libs/_functions.scss",
        "assets/sass/libs/_mixins.scss",
        "assets/sass/libs/_skel.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "roblesesparza.cl",
      "port": 22,
      "usePrivateKey": false,
      "username": "indicestudio",
      "password": "V5aRsEvj",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "agma.html",
        "ctime": "2017-05-26T02:08:13.775Z",
        "mtime": "2017-05-26T02:08:13.775Z",
        "size": 37656
      },
      {
        "file": "agustina.html",
        "ctime": "2017-05-26T02:08:14.386Z",
        "mtime": "2017-05-26T02:08:14.386Z",
        "size": 37981
      },
      {
        "file": "assets/css/custom.css",
        "ctime": "2017-05-26T00:47:07.589Z",
        "mtime": "2017-05-26T00:47:07.589Z",
        "size": 40661
      },
      {
        "file": "assets/css/main.css",
        "ctime": "2017-05-11T19:30:47.594Z",
        "mtime": "2017-05-11T19:30:47.594Z",
        "size": 82718
      },
      {
        "file": "assets/css/noscript.css",
        "ctime": "2017-05-11T15:29:20.926Z",
        "mtime": "2017-05-06T22:01:38.000Z",
        "size": 927
      },
      {
        "file": "assets/fonts/fontawesome-webfont.eot",
        "ctime": "2017-05-11T15:29:20.584Z",
        "mtime": "2017-05-06T22:01:38.000Z",
        "size": 76518
      },
      {
        "file": "assets/fonts/fontawesome-webfont.svg",
        "ctime": "2017-05-11T15:29:20.611Z",
        "mtime": "2017-05-06T22:01:38.000Z",
        "size": 391622
      },
      {
        "file": "assets/fonts/fontawesome-webfont.ttf",
        "ctime": "2017-05-11T15:29:20.623Z",
        "mtime": "2017-05-06T22:01:38.000Z",
        "size": 152796
      },
      {
        "file": "assets/fonts/fontawesome-webfont.woff",
        "ctime": "2017-05-11T15:29:20.628Z",
        "mtime": "2017-05-06T22:01:38.000Z",
        "size": 90412
      },
      {
        "file": "assets/fonts/fontawesome-webfont.woff2",
        "ctime": "2017-05-11T15:29:20.574Z",
        "mtime": "2017-05-06T22:01:38.000Z",
        "size": 71896
      },
      {
        "file": "assets/fonts/FontAwesome.otf",
        "ctime": "2017-05-11T15:29:20.603Z",
        "mtime": "2017-05-06T22:01:38.000Z",
        "size": 124988
      },
      {
        "file": "assets/js/jquery.min.js",
        "ctime": "2017-05-11T15:29:20.686Z",
        "mtime": "2017-05-06T22:01:38.000Z",
        "size": 95957
      },
      {
        "file": "assets/js/jquery.scrollex.min.js",
        "ctime": "2017-05-11T15:29:20.672Z",
        "mtime": "2017-05-06T22:01:38.000Z",
        "size": 2257
      },
      {
        "file": "assets/js/jquery.scrolly.min.js",
        "ctime": "2017-05-11T15:29:20.634Z",
        "mtime": "2017-05-06T22:01:38.000Z",
        "size": 831
      },
      {
        "file": "assets/js/main.js",
        "ctime": "2017-05-16T18:50:04.477Z",
        "mtime": "2017-05-16T18:50:04.477Z",
        "size": 5601
      },
      {
        "file": "assets/js/skel.min.js",
        "ctime": "2017-05-11T15:29:20.642Z",
        "mtime": "2017-05-06T22:01:38.000Z",
        "size": 9085
      },
      {
        "file": "assets/js/util.js",
        "ctime": "2017-05-11T15:29:20.721Z",
        "mtime": "2017-05-06T22:01:38.000Z",
        "size": 12433
      },
      {
        "file": "contacto.html",
        "ctime": "2017-05-26T02:08:14.989Z",
        "mtime": "2017-05-26T02:08:14.989Z",
        "size": 32520
      },
      {
        "file": "el-roble.html",
        "ctime": "2017-05-26T02:08:15.596Z",
        "mtime": "2017-05-26T02:08:15.596Z",
        "size": 40351
      },
      {
        "file": "images/agma-ref.jpg",
        "ctime": "2017-05-11T15:43:17.421Z",
        "mtime": "2017-05-11T15:43:17.421Z",
        "size": 123788
      },
      {
        "file": "images/agustina-ref.jpg",
        "ctime": "2017-05-11T15:43:17.425Z",
        "mtime": "2017-05-11T15:43:17.425Z",
        "size": 105269
      },
      {
        "file": "images/bg.jpg",
        "ctime": "2017-05-11T16:38:39.292Z",
        "mtime": "2017-05-11T16:38:39.292Z",
        "size": 1023312
      },
      {
        "file": "images/elroble-ref.jpg",
        "ctime": "2017-05-11T15:43:17.432Z",
        "mtime": "2017-05-11T15:43:17.432Z",
        "size": 120961
      },
      {
        "file": "images/empresasrg.png",
        "ctime": "2017-05-16T17:57:28.402Z",
        "mtime": "2017-05-16T17:29:19.031Z",
        "size": 18063
      },
      {
        "file": "images/overlay.png",
        "ctime": "2017-05-11T16:41:34.864Z",
        "mtime": "2017-05-11T16:41:34.864Z",
        "size": 2666
      },
      {
        "file": "images/rg-ref.jpg",
        "ctime": "2017-05-11T15:43:18.513Z",
        "mtime": "2017-05-11T15:43:18.513Z",
        "size": 164589
      },
      {
        "file": "index.html",
        "ctime": "2017-05-26T02:08:19.705Z",
        "mtime": "2017-05-26T02:08:19.705Z",
        "size": 34003
      },
      {
        "file": "rg.html",
        "ctime": "2017-05-26T02:08:12.942Z",
        "mtime": "2017-05-26T02:08:12.942Z",
        "size": 37154
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"compiler-cssnext\":{\"enabled\":true}}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": false,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}